@model Courses_MVC.Models.Register
@{
    ViewData["Title"] = "Cập nhật đăng kí";

}

<div class="main">
    <partial name="_NavBar" />
    <div class="col-md-8">
        <partial name="_AlertMessage" />
        <h2 class="contact-title text-center">@ViewData["Title"]</h2>
        <form action="" class="col-md-10 offset-md-2 mt-5" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="registerId" class="control-label"></label>
                <input asp-for="registerId" class="form-control" disabled />
            </div>
            <div class="form-group mt-3">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class="form-control" asp-items="ViewBag.User"></select>
            </div>
            <div class="form-group mt-3">
                <label asp-for="courseId" class="control-label"></label>
                <select asp-for="courseId" class="form-control" asp-items="ViewBag.Course"></select>
            </div>
            <div class="form-group mt-3">
                <label asp-for="timeReg" class="control-label"></label>
                <input asp-for="timeReg" class="form-control" />
                <span asp-validation-for="timeReg" class="text-danger"></span>
            </div>
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <input type="submit" name="submit" value="Cập nhật" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="DanhSachDangKi" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Danh sách đăng kí</a>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    const active_lienhe = document.querySelector('#active--dangki')

    active_lienhe.classList.add('active--css')
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
