@{
}
<nav class="nav-links">
    <ul class="nav-links__ul">
        <li class="nav-links__li ">
            <a asp-controller="Courses" asp-action="listCourseAdmin" class=" nav-links__a " id="active--khoahoc">
                <i class="fab fa-cuttlefish"></i>  Quản lý khóa học
            </a>
        </li>
        <li class="nav-links__li">

            <a asp-controller="Lesson" asp-action="ListlessonAdmin" class=" nav-links__a" id="active--baihoc">
                <i class="fas fa-book"></i>  Quản lý bài học
            </a>
        </li>
        <li class="nav-links__li">

            <a asp-controller="Exercises" asp-action="ListExerciseAdmin" class=" nav-links__a" id="active--baitap">
                <i class="fab fa-leanpub"></i>  Quản lý bài tập
            </a>
        </li>
        <li class="nav-links__li">

            <a asp-controller="Contacts" asp-action="Index" class=" nav-links__a" id="active--lienhe">
                <i class="fas fa-file-signature"></i>  Quản lý liên hệ
            </a>
        </li>
        <li class="nav-links__li ">
            <a asp-controller="Comments" asp-action="DanhSachBinhLuan" class=" nav-links__a " id="active--binhluan">
                <i class="fas fa-comments"></i>  Quản lý bình luận
            </a>
        </li>
        <li class="nav-links__li ">

            <a asp-controller="Register" asp-action="DanhSachDangKi" class=" nav-links__a " id="active--dangki">
                <i class="fas fa-user-tie"></i>  Đăng kí khóa học
            </a>
        </li>
        <li class="nav-links__li ">
            <a asp-controller="Receipts" asp-action="DanhSachHoaDon" class=" nav-links__a " id="active--hoadon">
                <i class="fas fa-file-invoice-dollar"></i>  Quản lý hóa đơn
            </a>
        </li>
        <li class="nav-links__li ">
            <a asp-controller="Topic" asp-action="DanhSachTopic" class=" nav-links__a " id="active--chude">
                <i class="fas fa-pencil-ruler"></i>  Quản lý chủ đề
            </a>
        </li>
        <li class="nav-links__li ">
            <a asp-controller="ExerciseInUsers" asp-action="DanhSachBTUser" class=" nav-links__a " id="active--SV_BT">
                <i class="fas fa-user-edit"></i>  Sinh viên - Bài tập
            </a>
        </li>
        <li class="nav-links__li ">
            <a asp-controller="Discount" asp-action="DanhSachGiamGia" class=" nav-links__a " id="active--giamgia">
                <i class="fas fa-percent"></i>  Quản lý giảm giá
            </a>
        </li>
    </ul>
</nav>
