@model Courses_MVC.Models.Exercise

@{
    ViewData["Title"] = "Thêm bài luyện tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="sidebar-admin">
        <partial name="_NavBar" />
    </div>
    <section class="section-add_course">
        <partial name="_AlertMessage" />
        <h1 class="text-center mt-3">Thêm bài luyện tập</h1>
        <div class="p-4">
            <form asp-action="CreateExercise">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="content" class="control-label"></label>
                    <input asp-for="content" class="form-control" />
                    <span asp-validation-for="content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="deadline" class="control-label"></label>
                    <input asp-for="deadline" class="form-control" />
                    <span asp-validation-for="deadline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lessonId" class="control-label"></label>
                    <select asp-for="lessonId" class="form-control" asp-items="ViewBag.lessonId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.userId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </section>
</main>
<script>
    const active_lienhe = document.querySelector('#active--baitap')
    active_lienhe.classList.add('active--css')
    /*document.querySelector('#active--khoahoc').classList.remove('active--css')*/
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
